# 自动更新搜狗 scel 词库到 rime 词库
name: auto_update_sogou_dict

on:
  schedule:
    - cron: "10 0 * * *" # 设置定时任务
  workflow_dispatch:

# 权限配置
permissions:
  contents: write

env:
  DOTNET_VERSION: "10.0.x"
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  auto_update_sogou_dict:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.13" # 你可以根据需要选择 Python 版本
          cache: pip

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install requests pypinyin pypinyin_dict

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Download imewlconverter_linux
        run: |
          LATEST_TAG=$(curl -s https://api.github.com/repos/studyzy/imewlconverter/releases/latest | jq -r .tag_name)
          wget "https://github.com/studyzy/imewlconverter/releases/download/${LATEST_TAG}/imewlconverter_linux-x64.tar.gz"
          tar -xvf imewlconverter_linux-x64.tar.gz

      - name: Download sogou scel file
        run: |
          curl -vfsL -o sogou_net_pop.scel 'https://pinyin.sogou.com/d/dict/download_cell.php?id=4&name=网络流行新词【官方推荐】&f=detail'

      - name: Convert sogou scel to rime quanpin dict
        run: |
          chmod +x ./publish/linux-x64/ImeWlConverterCmd
          ./publish/linux-x64/ImeWlConverterCmd -i:scel sogou_net_pop.scel -ft:"rm:eng|rm:num|rm:space|rm:pun" -o:rime sghot.dict.yaml

      - name: Gen incremental update dict items
        run: |
          awk -F'\t' 'FNR==NR&&NR>10{a[$1]++;w[$1]=$0};FNR!=NR&&FNR>10{b[$1]++}END{for(i in a){if(b[i]<1)print w[i]}}' ./sghot.dict.yaml ./cn_dicts/flypy_sogou.dict.yaml >diff_sg.txt

      - name: Incremental update rime quanpin items to flypy items
        run: |
          python3 ./tools/python/flypy_dict_generator.py -i ./diff_sg.txt -o ./cn_dicts/flypy_sogou.dict.yaml -m -w 100

      - name: change version for flypy_sghot.dict.yaml
        run: |
          today="$(date '+%F')"
          sed -i "s/version: .*/version: $today/" ./cn_dicts/flypy_sogou.dict.yaml

      - name: Remove spam entries for flypy_sghot.dict.yaml
        run: |
          bash ./tools/bash/prune_words.sh

      - name: Remove intermediate file
        run: |
          rm -f ./diff_sg.txt ./sghot.dict.yaml

      - name: Set env
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and push changes
        run: |
          git add ./cn_dicts/flypy_sogou.dict.yaml
          git commit -m "Update sogou dict"
          git push origin master
